.modal_wrapper{
  position:fixed;
  bottom:0;
  width:100%;
  background: rgba(0,0,0, .2);
  backdrop-filter: blur(10px);

}

.modal_wrapper.open{
  height: 100%;
  display:block
}

.modal_wrapper.close{
  height: 0;
  display:none;
}

.modal_body{
  max-width: 500px;
  margin:  auto;
  background:white;
  margin-top: 5%;
  padding: 20px;
  border-radius: 10px;
  max-height: 500px;
  
}

.modal_close{
  text-align: center;
  margin-top: -15px;
  font-size: 40px;
  color: grey;
  cursor: pointer;
}

.modal_body h2{
  text-align: left;
  width: 100%;
  margin: 0;
  
}
