body {
  font-size: 24px;
}

a {
  text-decoration: none ;
  border: none;
}

input {
  background-color: transparent;
  border: none;
}

#root {
  /* margin-left: 100px */
  padding-top: 30px;
  background-color: rgb(177, 181, 182);
  margin-left: auto;
  margin-right: auto;
  min-height: 800px;
  padding-top: 30px;
  display: flex;
  min-height: 100vh;
  background-color: lightblue;
  margin: 0 auto;
  max-width: 1200px;
}

.container {
  padding-left: 75px;
}

.containerCenter, .mainButtons {
  margin: 25% auto;

  display: flex;
  justify-content: center;
}

.containerCabinet {
  margin: 40px;
  padding: 0px 10px;
}

.mainContainer {
  width: 100vh;
}

.navbar {
  max-width: 200px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50%;
}

.description, .cardString {
  /* margin-top: 30px;
  margin-bottom: 30px; */
  margin: 40px;
  padding: 0px 10px;
  border: 1px dotted green; 
}

.descriptionRow {
  display: flex;
  /* margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px 10px */
  flex-wrap : wrap;
}

.description.current {
  width: 40%;
}

.persons {
  display: flex
}

.mapContainer{
  display: flex;
  margin: 15px, auto
}

button{
  margin : 15px 8px;
}

.mainButtons {
  margin-top: 25%;
}

.persons {
  display: flex;
  flex-wrap: wrap;
}
