#root {
  /* margin-left: 100px */
  padding-top: 30px;
  background-color: rgb(177, 181, 182);
  margin-left: auto;
  margin-right: auto;
  min-height: 800px;
  min-height: 100vh;
  background-color: lightblue;
  margin: 0 auto;
  max-width: 1200px;
}

.mainContainer {
  position: relative;
  top: 0px; 
  left: 250px;
  /* text-align: center; */
}

.navbar {
  max-width: 200px;
}

.mainButtons {
  margin: auto;
}

.description, .cardString {
  margin-bottom: 30px;
}


.mapContainer{
  display: flex;
  margin: 0, auto
}

/* .button{
  margin : 20px
} */
